{
  "browser": {
    "enabled": true,
    "executablePath": "/usr/bin/chromium",
    "headless": true,
    "noSandbox": true
  },
  "env": {
    "vars": {
      "OPENAI_API_KEY": "${OPENAI_API_KEY}",
      "GH_TOKEN": "${GH_TOKEN}",
      "GITHUB_TOKEN": "${GITHUB_TOKEN}"
    }
  },
  "auth": {
    "profiles": {
      "openai-codex:default": {
        "provider": "openai-codex",
        "mode": "oauth"
      },
      "anthropic:manual": {
        "provider": "anthropic",
        "mode": "token"
      }
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "google-gemini-cli/gemini-2.5-flash",
        "fallbacks": [
          "google-gemini-cli/gemini-2.5-pro",
          "anthropic/claude-sonnet-4-5",
          "openai-codex/gpt-5.3-codex"
        ]
      },
      "workspace": "/home/node/clawd",
      "contextPruning": {
        "mode": "cache-ttl",
        "ttl": "45m"
      },
      "compaction": {
        "mode": "safeguard"
      },
      "maxConcurrent": 2,
      "subagents": {
        "maxConcurrent": 3,
        "model": "google-gemini-cli/gemini-2.5-flash"
      },
      "elevatedDefault": "full",
      "heartbeat": {
        "every": "1h"
      }
    }
  },
  "tools": {
    "web": {
      "search": {
        "enabled": true,
        "apiKey": "${BRAVE_API_KEY}"
      },
      "fetch": {
        "enabled": true
      }
    },
    "elevated": {
      "enabled": true,
      "allowFrom": {
        "telegram": [
          343551192
        ]
      }
    }
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto",
    "restart": true,
    "ownerDisplay": "raw"
  },
  "hooks": {
    "internal": {
      "enabled": true,
      "entries": {
        "boot-md": {
          "enabled": true
        },
        "command-logger": {
          "enabled": true
        },
        "session-memory": {
          "enabled": true
        }
      }
    }
  },
  "channels": {
    "telegram": {
      "enabled": true,
      "dmPolicy": "pairing",
      "groupPolicy": "allowlist",
      "allowFrom": [
        343551192
      ],
      "streaming": "off",
      "botToken": "${TELEGRAM_BOT_TOKEN}"
    }
  },
  "gateway": {
    "port": 18789,
    "mode": "local",
    "bind": "loopback",
    "auth": {
      "mode": "token",
      "token": "${OPENCLAW_GATEWAY_TOKEN}"
    },
    "trustedProxies": [
      "127.0.0.1",
      "::1"
    ],
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    }
  },
  "skills": {
    "install": {
      "nodeManager": "npm"
    },
    "entries": {
      "openai-image-gen": {
        "apiKey": "${OPENAI_IMAGE_GEN_API_KEY}"
      },
      "openai-whisper-api": {
        "apiKey": "${OPENAI_WHISPER_API_KEY}"
      },
      "notion": {
        "apiKey": "${NOTION_API_KEY}"
      }
    }
  },
  "plugins": {
    "enabled": true,
    "entries": {
      "telegram": {
        "enabled": true
      },
      "google-gemini-cli-auth": {
        "enabled": true
      }
    }
  }
}
